<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Default title of the page is set in config.ini -->
    <title>{{ @title }}</title>

    <!-- jQuery -->
    <script src="app/web/js/jquery-1.12.0.min.js"></script>

    <!-- jQuery UI -->
    <script src="app/web/js/jquery-ui.min.js"></script>
    <link href="app/web/css/jquery-ui.min.css" rel="stylesheet">
    <link href="app/web/css/jquery-ui.theme.min.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="app/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/web/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="app/web/js/bootstrap.min.js"></script>
    <script src="app/web/js/npm.js"></script>
</head>